
<div class="wrapper">
    
    <header >
     
        <img class="background" src="../../assets/images/shutterstock-1051989149.webp" alt="">
        <img class="foreground" src="../../assets/images/Lovepik_com-401281456-brunei-empire-hotel.png" alt="">
       
       
        <h1 class="title">Welcome !</h1>
    </header>
    <img class="overlay-img" src="../../assets/images/—Pngtree—cartoon tree coconut tree_4285414.png" alt="sidecorners"  size="10%">
    <section>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi aut libero voluptatum accusamus sapiente repellat, veritatis quis qui cum. Dolore dolorum dignissimos ad veritatis accusamus sit cum corrupti voluptates in.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, maiores? Eaque unde repellat delectus quis adipisci at ipsam ducimus odio. Laudantium necessitatibus natus tenetur et, illum error est aspernatur expedita.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur animi dolore alias iusto libero molestias in hic error doloremque praesentium? Sapiente ullam sed eum iusto voluptatibus eligendi expedita id magnam.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque reiciendis, veniam libero cumque temporibus asperiores quos recusandae. Vero eum consequuntur possimus harum omnis pariatur illo, dolorum nam adipisci repellendus cumque.lore
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla dolorem iusto modi quod rem, ea dolore animi quisquam placeat esse vero sunt minus dolorum, pariatur fugit ratione molestias distinctio ab.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ut ad animi hic quia error quae, laudantium iure sapiente, dolorem nihil pariatur temporibus, ipsam quis doloremque dolor sed in modi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi aut libero voluptatum accusamus sapiente repellat, veritatis quis qui cum. Dolore dolorum dignissimos ad veritatis accusamus sit cum corrupti voluptates in.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, maiores? Eaque unde repellat delectus quis adipisci at ipsam ducimus odio. Laudantium necessitatibus natus tenetur et, illum error est aspernatur expedita.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur animi dolore alias iusto libero molestias in hic error doloremque praesentium? Sapiente ullam sed eum iusto voluptatibus eligendi expedita id magnam.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque reiciendis, veniam libero cumque temporibus asperiores quos recusandae. Vero eum consequuntur possimus harum omnis pariatur illo, dolorum nam adipisci repellendus cumque.lore
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla dolorem iusto modi quod rem, ea dolore animi quisquam placeat esse vero sunt minus dolorum, pariatur fugit ratione molestias distinctio ab.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ut ad animi hic quia error quae, laudantium iure sapiente, dolorem nihil pariatur temporibus, ipsam quis doloremque dolor sed in modi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi aut libero voluptatum accusamus sapiente repellat, veritatis quis qui cum. Dolore dolorum dignissimos ad veritatis accusamus sit cum corrupti voluptates in.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, maiores? Eaque unde repellat delectus quis adipisci at ipsam ducimus odio. Laudantium necessitatibus natus tenetur et, illum error est aspernatur expedita.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur animi dolore alias iusto libero molestias in hic error doloremque praesentium? Sapiente ullam sed eum iusto voluptatibus eligendi expedita id magnam.
            
    </section>
    <app-projectfooter></app-projectfooter>
   
</div>


