table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ccc;
   
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  